html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fefbe9;
  color: #183a1d;
}

#navbar-style {
  background-color: #fefbe9;
}

.nav-link {
  color: #183a1d !important;
}

.btn-primary {
  background-color: #183a1d;
}

.btn-outline-primary {
  color: #183a1d;
  border-color: #183a1d;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
